*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.chess-board{
    /* border: 1px solid black; */
    margin: 20px 50px;
    width: fit-content;
}

.white, .black{
    /* padding: 30px; */
    height: 70px;
    width: 70px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8{
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: black;
}